# .gitignore
#Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip‐wheel‐metadata/
*.egg‐info/

# Database
*.sqlite
*.sqlite3
instance/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Logs
*.log
*.logger

# Build
build/
dist/

# Alembic
migrations/versions/

#Outros
z_*.*